apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: scylla
spec:
  serviceName: "scylla-service"
  replicas: 1
  selector:
    matchLabels:
      app: scylla
  template:
    metadata:
      labels:
        app: scylla
    spec:
      containers:
      - name: scylla
        image: scylladb/scylla:5.2
        ports:
        - containerPort: 9042
          name: cql
        - containerPort: 9160
          name: thrift
        - containerPort: 7000
          name: intra-node
        - containerPort: 7001
          name: tls-intra-node
        resources:
          requests:
            cpu: "500m"
            memory: "1.5Gi"
          limits:
            cpu: "1"
            memory: "1.5Gi"
        volumeMounts:
        - name: scylla-data
          mountPath: /var/lib/scylla
  volumeClaimTemplates:
  - metadata:
      name: scylla-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi
